<div id="navigation">
   <ul>
      <li data-menuanchor="projekty"><a href="#projects">PROJEKTY</a></li>
      <li data-menuanchor="atelier"><a href="#atelier">ATELIÉR</a></li>  
   </ul>
   <img src="/assets/img/svg/menu-icon.svg" alt="" />
</div>
  
<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)" #fullpageRef>
  <div class="section">
      <app-menu (categoryOutput)="changeCategory($event)"></app-menu>
    
    </div>
<div class="section">
  <app-projects [categoryInput] = "categoryID" (projectOutput) = "changeProject($event)"></app-projects>
</div>
<div class="section">
<app-detail [projectInput] = "projectID"></app-detail>

</div>
</div>